.root {
    -fx-font-family: "Dialog";
    -fx-font-size: 12px;
    -fx-background-color: #323232;
}

Text {
    -fx-fill: white;
    -fx-font-weight: bold;
}

TextField {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: white;
}

.text-area {
    -fx-background-color: #5a5a5a;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: #5a5a5a;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.text-area .scroll-pane .viewport {
    -fx-background-radius: 7;
    -fx-background-color: transparent; /* 흰 배경 제거 */
}

.root > .button {
    -fx-background-color: linear-gradient(to bottom, #9366ac, #a048ba);
    -fx-text-fill: white;
}

.root > .button:hover {
    -fx-background-color: #9366ac;
}

.root > .button:pressed {
    -fx-background-color: #a048ba;
}

#clear_btn {
    -fx-background-color: linear-gradient(to bottom, #808080,  #5a5a5a);
}

#clear_btn:pressed {
    -fx-background-color: #5a5a5a;
}
